body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 50px;
}

h1{
    margin-bottom: 20xp;
}

button{
    background-color: #45A049;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #45A049;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    background: #fff;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 4px;
}